<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../password/password.css">
</head>
<body>
<h2>Reset Password</h2>
<section class="main-wrapper">
    <div class="imgcontainer">
        <img src="../../assets/images/sea.jpg" alt="Avatar" class="avatar" width="300px" height="300px">
    </div>
    <form action="/action_page.php" method="post" class="form-style">

        <div class="container">
            <div class="log-title">
                <div><b>Resset Password</b></div>

                <div><a href="../login/login.html">Not a member?</a></div>
            </div>
            <label for="psw"><b>Email</b></label>
            <input type="email" placeholder="Email" name="uname" required>

            <label for="psw"><b>Password</b></label>
            <input type="password" placeholder="Password" name="psw" required>

            <label for="psw"><b>Confirm password</b></label>
            <input type="password" placeholder="Password" name="psw" required>

            <button type="submit">Reset</button>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </div>



    </form>
</section>

</body>
</html>
